<ion-view view-title="Home">
    <ion-content ng-controller="HomeCtrl">
      <!-- The content of the page -->
    <div class="container">
    	<a href="#/mainMenu">
        <div class="jumbotron">
            <div class="logo">
                <img src="img/images/logo.png" class="img-responsive">
            </div>
            <div class="car">
                  <img src="img/images/car.png" class="img-responsive">
            </div>
        </div>
  	  </a>
      <!--<footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>-->

    </div>
    </ion-content>
  </ion-view>