<ion-view view-title="Detalle">
    <ion-content ng-controller="MarkerInfoCtrl">
      <!-- The content of the page -->
    <div class="container">
      	<div>
       		<div>Titulo: <span ng-bind="post.title"></span> <div> 
            <div>Descripcion: <span ng-bind="post.description"></span> <div>
            <div>Persona a cargo: <span ng-bind="post.persona_empresa_a_cargo"></span> <div>
            <div>Contacto: <span ng-bind="post.contacto"></span> <div>
            <div>Email: <span ng-bind="post.email"></span> <div>
            <div>Rubro: <span ng-bind="post.rubro"></span> <div>
            <div>Telefono: <span ng-bind="post.telefono"></span> <div>

        </div>
    </div> <!-- /container -->
	</ion-content>
</ion-view>